<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <script src="http://cdn.gbtags.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.gbtags.com/twitter-bootstrap/3.2.0/js/bootstrap.js"></script>
    <script src="http://cdn.gbtags.com/summernote/0.5.2/summernote.min.js"></script>
    <script src="http://cdn.bootcss.com/summernote/0.8.2/lang/summernote-zh-CN.min.js"></script>
    <link rel="stylesheet" rev="stylesheet" href="http://cdn.gbtags.com/twitter-bootstrap/3.2.0/css/bootstrap.css"
          type="text/css" media="all"/>
    <link rel="stylesheet" rev="stylesheet" href="http://cdn.gbtags.com/font-awesome/4.1.0/css/font-awesome.min.css"
          type="text/css" media="all"/>
    <link rel="stylesheet" rev="stylesheet" href="http://cdn.gbtags.com/summernote/0.5.2/summernote.css" type="text/css"
          media="all"/>
    <script src="http://static.runoob.com/assets/vue/1.0.11/vue.min.js"></script>
</head>
<body id="other">
<form role="form">
    <div class="form-group">
        <label>用户名</label>
        <input v-model="user.userName" type="text" id="a" class="form-control">
    </div>
    <div class="form-group">
        <label>详细地址</label>
        <input v-model="user.userAddress" type="text" id="b" class="form-control">
    </div>
    <div class="form-group">
        <label>联系号码</label>
        <input v-model="user.userPhone" type="number" id="c" class="form-control">
    </div>
    <div class="form-group">
        <button onclick="xiugai()" class="form-control">确定修改</button>
    </div>
</form>
</body>
</html>
<script>
    function xiugai() {
        var userId;
        var arr = document.cookie.split("; ");
        for (var i in arr) {
            var arr1 = arr[i].split("=");
            if (arr1[0] == "id") {
                userId = arr1[1];
            }
        }
        $.ajax({
            url: "http://localhost:8080/user/xiuGaiOther",
            data: {userName:$("#a").val(),userAddress:$("#b").val(),userPhone:$("#c").val(), userId: userId},
            success: function (html) {

            }
        });
        alert("修改成功");
        window.parent.location.href="http://localhost:8080/back_interface/back_login.html";
    }
    var other=new Vue({
        el: '#other',
        data: {
            user: {}
        },
        methods: {
            get: function () {
                $.ajax({
                    url: "http://localhost:8080/user/get",
                    success: function(html){
                        other.user=html;
                    }
                });
            }
        },
        ready: function () {
            this.get();
        }
    })
</script>